.advantage {
  padding: 0;
}

.advantage__info {
  list-style-type: none;
}

.advantage__title {
  .font(17px, 20px, bold, #000000);
}

@media (min-width: @tablet-width) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantage__info {
    width: 50%;
    margin-bottom: 55px;
  }

  .advantage__info svg {
    fill: @mint;
  }

  .advantage__title {
    margin-top: 15px;
  .font(20px, 22px, bold, #000000);
  }
}
