.append {
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
}

.append__append-to-basket {
  .font(25px, 30px, bold, #000000);
  text-transform: uppercase;
  width: 148px;
  margin: 0 auto;
}

.append__sizes {
  text-align: center;
}

.append__input-sizes {
  display: none;
}

.append__label-sizes {
  position: relative;
  width: 78px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @dark-gray;
}

.append__modal-size {
  display: flex;
  justify-content: space-between;
}

.append__input-sizes:checked + .append__label-sizes {
  border: 2px solid @mint;
}

@media (min-width: @tablet-width) {
  .append__append-to-basket {
    width: 100%;
    text-align: center;
  }

  .append {
    padding-left: 108px;
    padding-right: 108px;
  }

  .append__label-sizes {
    width: 108px;
  }
}
