.append {
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
}

.append__append-to-basket {
  .font(25px, 30px, bold, #000000);
  text-transform: uppercase;
  width: 148px;
  margin: 0 auto;
}

.append__sizes {
  text-align: center;
}

.append__input-sizes {
  display: none;

  &:checked {
    border: 2px solid @mint;
  }
}

.append__label-sizes {
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.append__label-sizes {
  padding: 18px 35px;
  border: 2px solid @dark-gray;
}

.append__modal-size {
  display: flex;
  justify-content: space-between;
}

.append__input-sizes:checked + .append__label-sizes {
  border: 2px solid @mint;
}
