.button {
  display: block;
  width: 260px;
  .font(18px, 20px, bold, @sat-gray);
  border: 2px solid @sat-gray;
  background-color: #ffffff;
  padding: 14px 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .button {
    width: 290px;
    padding: 13px 0;
  }
}
