.checkbox-type__label {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-left: 63px;
  margin-bottom: 14px;
  .font(17px, 18px, bold, #000000);
}

.checkbox-type__indication {
    position: absolute;
    top: 3px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid @sat-gray;
    border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: @mint;
    border-radius: 50%;
    opacity: 0;
  }
}

.checkbox-type__label:hover .checkbox-type__indication {
  border-color: @mint;
}

.checkbox-type__label:active .checkbox-type__indication {
  border-color: #c7c7c7;
}

.checkbox-type__input:checked + .checkbox-type__indication::after {
  opacity: 1;
}

.checkbox-type__input {
  display: none;
}

@media (min-width: @tablet-width) {
  .checkbox-type__label {
    display: block;
    .font(19px, 18px, bold, #000000);
    padding: 15px 0 15px 80px;
    margin-bottom: 27px;
}

.checkbox-type__indication {
    top: 0;
    width: 47px;
    height: 47px;

    &::after {
      top: 15px;
      left: 14px;
      width: 19px;
      height: 19px;
    }
  }
}
