.comments__comment {
  .font(25px, 30px, bold, #000000);
}

.comments__author {
  .font(17px, 24px, bold, #000000);
  font-style: normal;
}

.comments__quote {
  margin: 0;
  margin-bottom: 25px;
  line-height: 30px;
}

.comments__com {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 56px;
}

.comments__author-social {
  display: block;
  padding-top: 3px;
  margin-bottom: 31px;
  font-size: 17px;
  line-height: 30px;
  color: @sat-gray;
}

@media (min-width: @tablet-width) {
  .comments__com {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    padding-top: 78px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .comments__comment {
    .font(43px, 50px, bold, #000000);
    flex-grow: 1;
    order: -2;
    margin: 0;
    margin-left: -5px;
  }

  .comments__quote {
    margin-top: 45px;
    margin-bottom: 55px;
    font-size: 17px;
  }

  .comments__quotes {
    flex-grow: 1;
    line-height: 30px;
  }

  .comments__writes-button {
    width: 175px;
    padding: 14px 0;
    order: -1;
  }

  .comments__author-social {
    padding-top: 0;
  }

  .comments__author {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .comments__com {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position-x: 49px;
    background-position-y: 6px;
    padding-top: 77px;
    padding-bottom: 80px;
    padding-left: 226px;
    padding-right: 50px;
  }

  .comments__comment {
    .font(53px, 57px, bold, #000000);
  }

  .comments__quote {
    width: 800px;
    margin-top: 45px;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .comments__writes-button {
    margin-top: 8px;
  }

  .comments__author {
    font-size: 17px;
  }
}
