.comments__comment{
  .font(25px, 30px, bold, #000);
}
.comments__author{
  .font(17px, 24px, bold, #000);
  font-style: normal;
}
.comments__quote{
  margin: 0;
}
.comments__com{
  padding-left: 30px;
  padding-right: 30px;
}
