.comments__comment {
  .font(25px, 30px, bold, #000000);
}

.comments__author {
  .font(17px, 24px, bold, #000000);
  font-style: normal;
}

.comments__quote {
  margin: 0;
}

.comments__com {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @tablet-width) {
  .comments__com {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
  .comments__comment {
  .font(43px, 50px, bold, #000000);
    flex-grow: 1;
    order: -2;
    margin: 0;
  }
  .comments__quote {
   margin-top: 47px;
   margin-bottom: 60px;
  }
  .comments__quotes {
    flex-grow: 1;
  }
  .comments__writes-button {
    width: 175px;
    padding: 13px 0;
    order: -1;
  }
}
