.content-knitting {
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 57px;
  width: 320px;
  background-color: @light-gray;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .content-knitting {
    .font(43px, 50px, bold, #000000);
    padding-top: 55px;
    padding-bottom: 55px;
    width: 768px;
    background: none;
  }
}
