.extra-nav {
  display: none;
}

.extra-nav__link {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .extra-nav {
    display: flex;
    margin: 0;
    padding-left: 50px;
    list-style-type: none;
  }

  .extra-nav__link {
    display: block;
    padding-top: 17px;
    padding-right: 61px;
    .font(15px, 24px, bold, #000000);
    text-decoration: none;
  }
}
