.footers {
  background-color: @light-gray;
  margin-top: 40px;
}

.footers__footer {
  padding-left: 30px;
  padding-right: 30px;
}

.footers__develop {
  .font(19px, 18px, bold, #000000);
  margin-right: 32px;
  padding-bottom: 9px;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.footers__logo {
  display: none;
}

.footers__developers {
  display: flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footers__logo-academy {
  fill: @mint;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.footers__logo-mishka {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .footers {
    margin-top: 24px;
  }

  .footers__footer {
    display: flex;
    justify-content: space-between;
    min-height: 142px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footers__logo {
    display: block;
    width: 105px;
    margin-right: 79px;
  }

  .footers__logo-academy {
    padding-top: 10px;
  }

  .footers__social-icon-network {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .footers__develop {
    margin-right: 29px;
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .footers__logo {
    margin-right: 59px;
  }

  .footers__logo-academy {
    padding-top: 1px;
  }

  .footers__develop {
    padding-top: 3px;
  }
}
