.full-name__label {
  margin-top: 5px 0;
  .font(17px, 18px, bold, #000000);
}

.full-name__input {
  width: 238px;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-bottom: 2px solid black;
  padding-right: 21px;
  padding-top: 12px;
  padding-bottom: 17px;
}

.full-name__wrap {
  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .full-name__label {
    .font(19px, 18px, bold, #000000);
    margin-right: 23px;
  }

  .full-name__input {
    font-size: 19px;
    display: block;
    flex-grow: 1;
    width: auto;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 18px;
    margin-bottom: 0;
  }

  .full-name__wrap {
    display: flex;
    flex-grow: 1;
    margin-bottom: 40px;
  }

  .full-name {
    padding: 35px 50px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .full-name {
    padding: 35px 112px;
    padding-right: 225px;
    padding-bottom: 0;
  }

  .full-name__wrap {
    margin-bottom: 41px;
  }

  .full-name__label {
    margin-right: 25px;
  }
}
