.full-name__label {
  .font(17px, 18px, bold, #000000);
}

.full-name__input {
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-bottom: 2px solid black;
  padding-right: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .full-name__label {
    .font(19px, 18px, bold, #000000);
    margin-right: 23px;
  }

  .full-name__input {
    font-size: 19px;
    display: block;
    flex-grow: 1;
    width: auto;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 18px;
    margin-bottom: 0;
  }

  .full-name__wrap {
    display: flex;
    flex-grow: 1;
    margin-bottom: 30px;
  }
}
