.interior {
  background-color: #63d1bb;
  padding: 7px 30px;
}

.interior__subject {
  .font(19px, 24px, bold, #ffffff);
  width: 130px;
}

@media (min-width: @tablet-width) {
  .interior {
    width: 50%;
  }
}
