.interior {
  display: flex;
  justify-content: space-between;
  background-color: #63d1bb;
  padding: 25px 29px;
  padding-bottom: 18px;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    background-color: #59d5bc;
    margin-top: -5px;
    height: 110px;
  }
}

.interior:first-child {
  padding-right: 39px;
}

.interior__subject {
  display: block;
  .font(19px, 24px, bold, #ffffff);
  width: 130px;
}

.interior:active .interior__subject {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .interior {
    width: 50%;
    height: 115px;
    padding: 26px 35px;

    &:hover {
      height: 120px;
    }
  }

  .interior:first-child {
    padding-right: 37px;
  }

  .interior__subject {
    .font(20px, 30px, bold, #ffffff);
  }
}

@media (min-width: @desktop-width) {
  .interior {
    height: 115px;
  }
}
