.item-block{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid @gray;
}
.item-block__item-desc{
  .font(17px, 24px, bold, #000);
  margin-left: 28px;
  margin-top: 22px;
  margin-bottom: 15px;
}
.item-block__item-parameter{
  font-size: 13px;
  line-height: 30px;
  margin-left: 28px;
}
.item-block__price-item{
  display: block;
  .font(15px, 24px, bold, #000);
  margin-left: 28px;
  margin-top: 20px;
  margin-bottom: 27px;
}
