.manufacturing__man {
  border: 1px solid @gray;
  padding-top: 22px;
  padding-bottom: 32px;
  padding-left: 30px;
  padding-right: 30px;
}

.manufacturing__process {
  width: 203px;
  .font(17px, 24px, bold, #000000);
  margin-left: 28px;
}

.manufacturing__follower {
  display: block;
  margin-left: 28px;
  margin-bottom: 28px;
}

.manufacturing__video-production {
  margin-bottom: 28px;
}
