.manufacturing__man {
  border: 1px solid @gray;
  padding-bottom: 32px;
  margin: 30px;
}

.manufacturing__process {
  position: relative;
  width: 203px;
  .font(17px, 24px, bold, #000000);
  margin-left: 90px;
}

.manufacturing__follower {
  display: block;
  margin-left: 28px;
  margin-right: 15px;
  margin-bottom: 28px;
}

.manufacturing__video-production {
  width: 260px;
  height: 150px;
  margin-bottom: 28px;
  background-image: url(../img/video-mobile@1x.jpg);
}

.manufacturing__order-button {
  width: 190px;
  margin-left: 35px;
}

@media (min-width: @tablet-width) {
  .manufacturing__video-production {
    width: 668px;
    height: 454px;
    background-repeat: no-repeat;
    order: -2;
  }

  .manufacturing__man {
    margin: 50px;
    display: flex;
    flex-direction: column;
  }

  .manufacturing__process {
    width: 245px;
    order: -1;
  }

  .manufacturing__follower {
    margin-left: 40px;
    margin-right: 45px;
  }

  .manufacturing__order-button {
    width: 587px;
  }
}

@media (min-width: @desktop-width) {
  .manufacturing__man {
    min-height: 454px;
    position: relative;
    align-items: end;
  }

  .manufacturing__follower {
    width: 237px;
    margin-right: 57px;
  }

  .manufacturing__order-button {
    width: 237px;
    margin-right: 57px;
  }

  .manufacturing__video-production {
    position: absolute;
    left: 0;
  }

  .manufacturing__process {
    width: 130px;
    margin-right: 164px;
  }
}
