.offers {
  background-image: url(../../img/hero-mobile@1x.jpg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -35px;
  padding-left: 30px;
  padding-right: 30px;
}
.offers__handmade {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  padding-top: 65px;
  padding-bottom: 90px;
  text-align: center;
}
