.offers-handmade {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  padding-top: 65px;
  padding-bottom: 90px;
  text-align: center;
}

.offers-handmade--index {
  background-image: url(../img/hero-mobile@1x.jpg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -57px;
  padding-left: 38px;
  padding-right: 38px;
  text-align: center;
}
