.orders__order {
  padding-left: 30px;
  padding-right: 30px;
}

.orders__desc {
  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .orders {
    margin-top: 83px;
  }

  .orders__order {
    padding-left: 0;
    padding-right: 0;
  }

  .orders__desc {
    width: 615px;
    margin: 0;
    margin-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .orders__desc {
    width: 675px;
    margin-top: 139px;
    margin-left: 225px;
  }
}
