.orders__order {
  padding-left: 30px;
  padding-right: 30px;
}

.orders__required-field {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 25px;
}

.orders__send-order {
  margin-top: 15px;
}
