.other__textarea {
  height: 115px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid black;
  margin-top: 9px;
  padding-left: 15px;
  padding-right: 44px;
  padding-top: 13px;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .other {
    padding-top: 41px;
  }

  .other__textarea {
    font-size: 19px;
    flex-grow: 1;
  }
}
