.production {
  width: 100%;
}

.production__svg {
  fill: rgba(20, 144, 128, 0.5);
}

.production__interiors:hover .production__svg,
.production__toys:hover .production__svg {
  fill: rgba(20, 144, 128, 0.7);
}

@media (min-width: @tablet-width) {
  .production {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill.svg");
      bottom: -3px;
      width: 768px;
      height: 12px;
      background-size: cover;
      background-position-x: 26px;
    }
  }
}

@media (min-width: @desktop-width) {
  .production {
    &::before {
      width: 1250px;
      height: 18px;
      background-size: cover;
      background-position-x: 24px;
    }
  }
}
