.set-form {
  border: 0;
  padding: 0;
}

.set-form__required-field {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.set-form__send-order {
  margin-top: 28px;
  margin-bottom: 56px;
  font-size: 17px;
}

.set-form__contacts {
  position: relative;
  margin-bottom: 33px;
}

.set-form__legend {
  margin-bottom: 10px;
}

.email-input,
.phone-input {
  width: 238px;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-bottom: 2px solid black;
  padding-right: 21px;
  padding-top: 12px;
  padding-bottom: 19px;
}

.icons-input--phone,
.icons-input--email {
  position: absolute;
  right: 4px;
  bottom: 10px;
  fill: @dark-gray;
}

.icons-input--phone {
  bottom: 17px;
  right: 8px;
}

.set-form__users {
  margin-top: 26px;
  margin-bottom: 31px;
}

.set-form__checkbox-type {
  flex-direction: column;
  margin-top: 23px;
}

.set-form__radio-wrap {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .set-form {
    border: none;
    display: flex;
    align-items: baseline;
    padding: 12px 50px;
  }

  .set-form:nth-child(2n) {
    background-color: @light-gray;
  }

  .set-form:last-child {
    background: none;
  }

  .email-input,
  .phone-input {
    padding-left: 17px;
    padding-bottom: 16px;
    font-size: 19px;
    background: none;
    flex-grow: 1;
  }

  .icons-input--phone,
  .icons-input--email {
    right: 22px;
  }

  .icons-input--phone {
    right: 26px;
  }

  .set-form__users {
    flex-grow: 1;
    margin-top: 30px;
    margin-bottom: 11px;
  }

  .set-form__contacts {
    padding: 0;
    margin-bottom: 23px;
    width: 100%;
  }

  .set-form__required-field {
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    padding-bottom: 25px;
    flex-grow: 1;
    order: 1;
  }

  .set-form__send-order {
    width: 230px;
    padding: 14px 0;
    margin-bottom: 15px;
  }

  .set-form__radio-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .set-form {
    padding-left: 113px;
    padding-right: 225px;
  }

  .set-form__contacts {
    padding: 0;
  }

  .set-form__send-order {
    margin-top: 25px;
    margin-left: 113px;
  }

  .set-form__radio-wrap {
    width: 800px;
  }

  .icons-input--phone,
  .icons-input--email {
    right: 3px;
  }

  .icons-input--phone {
    right: 8px;
  }
}
