.toy {
  display: flex;
  justify-content: space-between;
  background-color: #56c3b2;
  padding: 23px 28px;
  padding-bottom: 19px;
  box-sizing: border-box;
  text-decoration: none;
}

.toy__children {
  display: block;
  .font(19px, 24px, bold, #ffffff);
  width: 130px;
}

@media (min-width: @tablet-width) {
  .toy {
    width: 50%;
    height: 107px;
  }

  .toy__children {
    .font(20px, 30px, bold, #ffffff);
  }
}

@media (min-width: @desktop-width) {
  .toy {
    height: 107px;
  }
}
