.user-nav {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  background-color: #ffffff;
}

.user-nav .user-nav__item:last-child {
  flex-grow: 1;
  border-bottom: 1px solid @gray;
}

.user-nav__link {
  .font(17px, 24px, bold, #000000);
  text-decoration: none;
}

.user-nav__item {
  padding: 27px 0 27px 76px;
  position: relative;
  border-bottom: 1px solid @gray;
}

.user-nav__link-svg {
  fill: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 46px;
}

@media (max-width: @mobile-width-only) {
  .user-nav--closed {
    display: none;
  }

  .user-nav--opened {
    display: block;
  }

  .user-nav__link-search-site {
    display: block;
    .font(17px, 24px, bold, #000);
    text-decoration: none;
  }
}

@media (min-width: @tablet-width) {
  .user-nav {
    order: -1;
    flex-grow: 1;
    display: flex;
    background-color: #ffffff;
  }

  .user-nav__item {
    border-left: 1px solid @gray;
    padding: 0;
    min-height: 80px;
  }

  .user-nav__link {
    position: relative;
    padding: 30px 0 27px 82px;
  }

  .user-nav__link--search {
    width: 82px;
    font-size: 0;
    display: block;
    box-sizing: border-box;
  }

  .user-nav__link-svg {
    position: absolute;
    top: 35px;
    left: 32px;
    fill: rgba(0, 0, 0, 0.2);
  }

  .user-nav__link--basket {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .user-nav {
    order: -1;
  }

  .user-nav__link {
    padding: 30px 0 27px 82px;
  }
}
