.user-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.user-nav .user-nav__item:last-child {
  border-bottom: 1px solid @gray;
}
.user-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.user-nav__item {
  padding: 27px 45px;
  border-bottom: 1px solid @gray;
}

@media (min-width: @tablet-width) {
  .user-nav {
    order: -1;
    flex-grow: 1;
    display: flex;
  }
}
